body {
    background-color: lightgray;
    font-family: Arial;
}

.profile {
    background-color: white;
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

h2 {
    color: blue;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile p {
    color: gray;
    font-size: 16px;
}

h3 {
    color: green;
}

.profile li {
    text-align: left;
    margin: 8px;
}